<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css1/table.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Show Details of criminals</title>
</head>
<body>

<div style="color:white;text-align: center;">
    <h1 >Jail Management</h1>
</div>


<div id="n1" style="text-align: center ;color: white">
    <h2>Show Details of criminals</h2>
</div>


<div style="color:black;width: 200%;">


    <table style="width: 1500px;">
        <thead>
        <tr>

            <th>Prisoner_Id  </th>
            <th>Name  </th>
            <th>Crime_Details  </th>
            <th>Age  </th>

            <th>Address  </th>

            <th>Gender  </th>

            <th>Nationality  </th>

            <th>Occupation  </th>

            <th>Photo  </th>

            <th>Officer in Charge  </th>

        </tr>
        </thead>

        <tbody>
        <% for(var i=0; i < user.length; i++) { %>
            <tr>
                <% if(user[i].name==='sp'){%>
                <td> <%= user[i].prisoner_id %></td>
                <td> <%= user[i].name %></td>
                <td> <%= user[i].crime_details %></td>
                <td> <%= user[i].age %></td>
                <td> <%= user[i].address %></td>
                <td> <%= user[i].gender %></td>
                <td> <%= user[i].nationality %></td>
                <td> <%= user[i].occupation %></td>
                <td> <%= user[i].photo %></td>
                <td> <%= user[i].officer_in_charge %></td>

                <%}%>


            </tr>
        <% } %>
        </tbody>

    </table>

</div>
</body>
</html>